ASDB.dtd

<!DOCTYPE ASDB [
  <!ELEMENT ASDB (LAYOUT, RECORD+)>
  <!ATTLIST ASDB VERSION NMTOKEN>
  <!ELEMENT LAYOUT (FIELD+)>
  <!ATTLIST LAYOUT RECLEN NMTOKEN>
  <!ELEMENT RECORD (DATUM+)>
  <!ELEMENT FIELD (#PCDATA)>
  <!ATTLIST FIELD NAME ID>
  <!ATTLIST FIELD PRECISION NMTOKEN>
  <!ATTLIST FIELD OFFSET NMTOKEN>
  <!ATTLIST FIELD WIDTH NMTOKEN>
  <!ATTLIST FIELD TYPE (A|P|S)>
  <!ELEMENT DATUM (#PCDATA)>
  <!ATTLIST DATUM NAME IDREF>
]>
<!-- vi:set sts=2 sw=2 autoindent: -->
